@import url("https://fonts.googleapis.com/css2?family=Saira:wght@400;500;600;700&display=swap");

/*//////////////////////////////////////////////////////////////////
[ IMPORTS]*/

@import "../src/mixins.scss";

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
  text-decoration: none;
  box-sizing: border-box;
}

/*! locomotive-scroll v3.6.1 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.has-scroll-smooth body {
  overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh;
}

/*//////////////////////////////////////////////////////////////////
[ ]*/
html,
body {
  margin: 0;
  background: var(--grey-light-1);
  height: 100vh;
  // cursor: none;
  font-family: "Saira", sans-serif;
  background-image: url("./assets/img/Fondo2.svg");
  background-color: #fafafa;
}

blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
  margin: 0;
}

// COLORS
:root {
  --primary: #26d452;
  --secondary: #338849;
  --red: #f35959;
  --red-black: #c33636;
  --tertiary: #fafafa;
  --white: #fff;
  --black: #1a1a1a;
  --grey-1: #898989;
  --grey-2: #6e6d7a;
  --grey-light-1: #f2f2f2;
  --grey-light-11: #f5f5f5;
  --grey-light-2: #d0d0d0;
  --grey-light-22: #e6e6e6;
  --grey-light-3: #b3b3b3;
  --br-s: 5px;
  --br-m: 8px;
  --br-xl: 10px;
  --br-xxl: 15px;
}

:root {
  --header-height: /* Tamaño real del .c-global-header */ ;
}

/*//////////////////////////////////////////////////////////////////
[ SCROLLBAR ]*/

::-webkit-scrollbar {
  width: 4px !important;
  height: 4px !important;
}

html[dir] .dark ::-webkit-scrollbar-thumb {
  background-color: var(--grey-light-2);
}

::-webkit-scrollbar-thumb {
  background-color: var(--grey-light-2);
  border-radius: 50px;
}

html[dir] .dark ::-webkit-scrollbar-track {
  background-color: initial;
}

::-webkit-scrollbar-track {
  background: transparent;
}

/*//////////////////////////////////////////////////////////////////
[ TITLES ]*/

h1 {
  color: var(--black);
  font-size: clamp(10px, 8vw, 20px);
  line-height: 1.6rem;
  font-weight: 600;
  @include md {
    font-size: clamp(13px, 8vw, 26px);
    line-height: 1.7rem;
  }
}

h2 {
  font-size: clamp(8px, 8vw, 16px);
  font-weight: 500;

  @include md {
    font-size: clamp(9px, 8vw, 19px);
    line-height: 1.3rem;
  }
}

h3 {
  color: var(--black);
  font-size: clamp(6.5px, 8vw, 13px);
  letter-spacing: -0.03em;
  line-height: 1rem;
  font-weight: 600;

  @include md {
    font-size: clamp(7.5px, 8vw, 14.5px);
    line-height: 1rem;
  }
}

h4 {
  color: var(--black);
  font-size: clamp(5px, 8vw, 10px);
  font-weight: normal;
  @include md {
    font-size: clamp(7px, 8vw, 13.5px);
    line-height: 1rem;
    font-weight: 500;
  }
}

h5 {
  color: var(--black);
  font-size: clamp(5.5px, 8vw, 11px);
  line-height: 1rem;
  font-weight: normal;
  @include md {
    font-size: clamp(5px, 8vw, 12px);
    line-height: 1.1rem;
    font-weight: 500;
  }
}

h6 {
  color: var(--black);
  font-size: clamp(4px, 8vw, 7px);
  line-height: 1rem;

  @include md {
    font-size: clamp(5px, 8vw, 8px);
    line-height: 0.8rem;
  }
}

p {
  color: var(--black);
  font-size: clamp(6.5px, 8vw, 13px);
  line-height: 0.9rem;

  @include md {
    font-size: clamp(7px, 8vw, 13.5px);
    line-height: 1rem;
  }
}

input {
  font-family: "Saira", sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  background-color: var(--white);
  border: none;
  width: 100%;
  text-align: left;
  border-radius: 8px;
  padding: 14px 20px 14px 45px;
  font-size: clamp(5.5px, 8vw, 12px);
  font-weight: 400;
  border: 1.5px solid var(--grey-light-2);
  transition: all 0.25s ease-out;
  @include md {
    font-size: clamp(7px, 8vw, 13.5px);
  }

  &:focus {
    border: 1.5px solid #26d452;
    box-shadow: 0 1px 2px #26d45171;
    color: var(--black);
  }
}

input[type="search"]::placeholder {
  color: var(--grey-1);
}

select {
  font-family: "Saira", sans-serif;

  font-weight: 100;
  border: none;
  padding: 0 0.5rem;
  border-radius: 5px;
  border: 0.5px solid var(--grey-light-2);
  height: 30px;
  &:focus {
    border: 0.5px solid var(--grey-light-2);
    color: var(--black);
  }
}

textarea {
  resize: none;
  color: var(--black);
  font-family: "Saira", sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  background-color: var(--white);
  border: none;
  width: 100%;
  height: 100%;
  text-align: left;
  border-radius: 8px;
  padding: 14px 20px 14px 20px;
  font-size: clamp(5.5px, 8vw, 12px);
  font-style: 100;
  border: 1px solid var(--grey-light-2);
  @include md {
    font-size: clamp(7px, 8vw, 14px);
  }

  &:focus {
    border: 1.5px solid var(--secondary);
    color: var(--black);
  }
}

button {
  font-family: "Saira", sans-serif;
  transition: all 0.35s cubic-bezier(0.19, 1, 0.22, 1);
  cursor: pointer;
  border: none;
  color: var(--white);
  border: none;
  text-align: center;
  border-radius: 8px;
  font-size: clamp(5.5px, 8vw, 12px);
  background-color: var(--grey);
  padding: 0.7rem 1rem;
  @include md {
    padding: 0.8rem 1rem;
    font-size: clamp(6.5px, 8vw, 13.5px);
  }
}

button:active {
  transform: scale(0.92);
}

::-moz-selection {
  background-color: var(--orange);
  color: var(--white);
}

::selection {
  background-color: var(--black);
  color: var(--white);
}

section {
  min-height: 100vh;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
/*==========================================*/
/*--------------DELET MODAL-----------------------*/
/*==========================================*/
.modalCreate-backg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  z-index: 12;
  display: grid;
  place-items: center;
  .mCreate-content {
    background-color: var(--white);
    max-width: 480px;
    width: 100%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);

    .mC-c-header {
      padding: 1.5rem;

      .mC-h-title {
        display: flex;
        align-items: center;
        gap: 0.8rem;
        .mC-c-title-icon {
          display: grid;
          place-items: center;
          border: 1px solid var(--grey-light-11);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
          padding: 6px;
          border-radius: 12px;
          svg {
            fill: transparent;
            color: var(--grey-2);
            width: 1.5rem;
            height: 1.5rem;
            stroke-width: 1.5;
            // @include md {
            //   width: 2.5rem;
            // }
          }
        }
        .mC-c-title-text {
          text-align: left;
          h2 {
            font-size: clamp(6px, 8vw, 18px);
            color: var(--black);
            font-weight: 600;
            letter-spacing: -0.03em;
          }
          h4 {
            padding-top: 0.1rem;
            font-weight: 400;
            color: var(--grey-2);
            font-size: clamp(6px, 8vw, 13px);
          }
        }
      }
      .mC-h-close {
        position: absolute;
        top: 12px;
        right: 12px;
        width: 22px;
        height: 22px;
        border-radius: 5px;
        background-color: var(--grey-light-1);
        cursor: pointer;
        display: grid;
        place-items: center;
        transition: all 0.35s cubic-bezier(0.19, 1, 0.22, 1);
        img {
          width: 0.5rem;
          // @include md {
          //   width: 0.6rem;
          // }
        }
        padding: 0;
        &:hover {
          background-color: var(--grey-light-22);
        }
        &:active {
          transform: scale(0.92);
          transform-origin: center;
          background-color: var(--grey-light-22);
        }
      }
    }
    .mC-c-body {
      display: flex;
      flex-direction: column;
      gap: 1.5rem 0;
      padding: 0.5rem 1.5rem;
      overflow: auto;
      max-height: 70vh;
      .mC-b-imputs {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;

        .mC-imputs-item {
          flex: 1 1 100px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 0.5rem;
          position: relative;
          label {
            font-size: clamp(7px, 8vw, 13.5px);
            font-weight: 400;
            color: var(--grey-2);
            line-height: 1rem;
          }
          .imputs-i-input {
            position: relative;
            width: 100%;
            img {
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              left: 15px;
              width: 1.4rem;
              height: 1.4rem;
            }
          }
        }
      }

      .mC-b-info {
        display: flex;
        flex-direction: column;
        padding-bottom: 0.5rem;
        border-radius: 10px;
        border: 1px solid var(--grey-light-2);
        padding: 15px 20px;
        gap: 0.2rem;
        .item-text{
          padding-bottom: .5rem;
        }
        .item-descrip {
          display: flex;
          justify-content: space-between;
          h5{
            color: var(--grey-2);
            font-size: clamp(7px, 8vw, 13.5px);
          }
        }
      }
    }
    .mC-c-footer {
      padding: 1.5rem;
      display: flex;
      justify-content: flex-end;
      gap: 0.5rem;
    }
  }
}

.mCreate-2 {
  max-width: 330px !important;
}
/*==========================================*/
/*//////////////////////////////////////////////////////////////////
[ ERROR 404]*/
/*==========================================*/
.content {
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 0;
  @include md {
    padding: 2px;
  }
}

main {
  flex: 1 1 0%;
  height: 100%;
  width: calc(100% - 280px);
  display: flex;
  flex-direction: column;
}

.c-main {
  width: 100%;
  height: calc(100vh - 59px);
  display: flex;
  flex-direction: column;
}

input[type="checkbox"] {
  display: none;
}

.custom-skeleton {
  background-color: red;
}

.active {
  background-color: var(--primary);
  opacity: 1 !important;
  span {
    color: var(--white) !important;
  }
  svg {
    color: var(--white) !important;
  }
}

.c-global-header {
  width: 100%;
  padding: 0.5rem 2.5rem 1.5rem 2.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  .global-h-title {
    span {
      color: var(--grey-1);
      font-size: clamp(6px, 8vw, 14px);
      line-height: 1.1rem;
      font-weight: 400;
    }
    .g-h-t-primary {
      display: flex;
      align-items: flex-end;
      gap: 0.5rem;
      span {
        color: var(--grey-2);
        font-size: clamp(6px, 8vw, 14px);
        font-weight: 600;
        line-height: 1.1rem;
        background-color: var(--grey-light-1);
        padding: 2px 5px;
        border-radius: 8px;
      }
    }
  }
  .global-h-button {
    .radio-inputs {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      border-radius: 12px;
      background-color: var(--grey-light-1);
      box-sizing: border-box;
      padding: 6px;
      width: 300px;
      font-size: 14px;
    }

    .radio-inputs .radio {
      flex: 1 1 auto;
      text-align: center;
    }

    .radio-inputs .radio input {
      display: none;
    }

    .radio-inputs .radio .name {
      display: flex;
      cursor: pointer;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      border: none;
      padding: 0.5rem 0;
      color: var(--grey-1);
      transition: all 0.15s ease-in-out;
    }

    .radio-inputs .radio input:checked + .name {
      background-color: var(--primary);
      color: var(--white);
      font-weight: 500;
    }
  }
  //   @include md {
  //     padding: 1.5rem 5rem;
  //   }
}
.tableContainer {
  display: flex;
  flex-direction: column;
  padding: 0 2.5rem;
  padding-bottom: 1rem;
  gap: 1rem;
  flex: 1 1;
  overflow: hidden;
}

.btn-success {
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  svg {
    fill: transparent;
    width: 1.4rem;
    height: 1.4rem;
    stroke-width: 1.7;
    color: var(--white);
  }
  &:hover {
    background-color: var(--secondary);
  }
}

.btn-success,
.btn-cancel,
.btn-delete {
  height: 40px;
  width: 100%;
  padding: 0 1.2rem;
  font-weight: 500;

  &:hover {
    color: var(--white);
  }
}
.btn-cancel {
  color: var(--grey-2);
  background-color: var(--grey-light-22);
  &:hover {
    background-color: var(--secondary);
  }
}

.btn-delete {
  background-color: var(--red);
  &:hover {
    background-color: var(--red-black);
  }
}
.text-red {
  color: var(--grey-light-2);
  font-size: clamp(7px, 8vw, 12px) !important;
  font-family: 500;
}
.btns {
  display: flex;
  justify-content: center;
  gap: 0.8rem;
  margin: auto 0;
  .item-btn {
    padding: 0;
    display: grid;
    place-items: center;
    width: auto;
    height: auto;
    border: none;
    border-radius: 0;
    transition: all 0.35s cubic-bezier(0.19, 1, 0.22, 1);
    svg {
      cursor: pointer;
      width: 1.4rem;
      height: 1.4rem;
      color: var(--grey-2);
      fill: white;
      stroke-width: 1.6;
      transition: all 0.25s ease-out;
    }
    &:hover {
      background-color: transparent;
    }
    &:active {
      transform: scale(0.8);
    }
  }

  .table-btn-edit {
    svg {
      color: var(--primary);
    }
  }
}

.td-status {
  font-size: clamp(7px, 8vw, 13px);
  text-transform: capitalize;
  text-align: center;
  border-radius: 12px;
  padding: 5px 10px 5px 17px;
  position: relative;
  width: auto;
  &:before {
    position: absolute;
    content: "";

    border-radius: 50%;
    width: 5px;
    height: 5px;
    left: 7px;
    top: 50%;
    transform: translateY(-50%);
  }
}
.t-completo {
  color: #45a452;
  background-color: #ebf9ea;
  border: 1px solid #45a452;
  &:before {
    background-color: #45a452;
  }
}
.t-incompleto {
  color: #ecb11a;
  background-color: #fdf7e9;
  border: 1px solid #ecb11a;
  &:before {
    background-color: #ecb11a;
  }
}

.td-user {
  display: flex;
  align-items: center;
  gap: 1rem;
  .t-siglas {
    width: 35px;
    height: 35px;
    background-color: #00b47e;
    color: var(--white);
    text-transform: uppercase;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: clamp(7px, 8vw, 16px);
  }
  .t-name {
    display: flex;
    flex-direction: column;
    gap: 0.15rem;

    h5 {
      text-transform: lowercase;
      font-size: clamp(6px, 8vw, 12px);
      line-height: 0.8rem;
      color: var(--grey-1);
      //   @include md {
      //     font-size: clamp(6px, 8vw, 12px);
      //   }
    }
    h4 {
      font-weight: 500;
      font-size: clamp(6px, 8vw, 13.5px);
      text-transform: capitalize;
      //   @include md {
      //     font-size: clamp(6px, 8vw, 14px);
      //   }
    }
    .t-2 {
      text-transform: capitalize;
    }
  }
}

.td-cot {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  img {
    width: 1.1rem;
  }
  h4 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: clamp(6px, 8vw, 12px);
    // @include md {
    //   font-size: clamp(6px, 8vw, 14px);
    // }
  }
}

.t-cort {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 150px;
  font-size: clamp(6px, 8vw, 14px);
}
/*==========================================*/
/*--------------LOADING-------------*/
/*==========================================*/
.loader {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2.5px solid var(--primary);
  border-top-color: transparent;
  animation: rot1 1.2s linear infinite;
  margin: auto;
}

@keyframes rot1 {
  to {
    transform: rotate(360deg);
  }
}
/*==========================================*/
/*--------- INPUT RADIO-----------*/
/*==========================================*/

.title-input-radio {
  font-size: clamp(7px, 8vw, 13.5px);
  font-weight: 400;
  color: var(--grey-2);
  line-height: 1rem;
}
.radio-inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  gap: 0.5rem;

  label {
    flex: 1 1 150px;
  }
}

/***--RADIO BUTTON */
.radio-input:checked + .radio-tile {
  border-color: var(--primary);
  box-shadow: 0 3px 6px #26d45171;
  color: var(--primary);
}

.radio-input:checked + .radio-tile:before {
  opacity: 1;
  background-color: var(--primary);
  border-color: var(--primary);
}

.radio-input:checked + .radio-tile .radio-label {
  color: var(--black);
}

.radio-input:focus + .radio-tile:before {
  opacity: 1;
}

.radio-tile {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-height: 65px;
  border-radius: 10px;
  border: 1px solid var(--grey-light-2);
  transition: 0.15s ease;
  cursor: pointer;
  position: relative;
  img {
    width: 5rem;
    height: 3rem;
  }
}

.radio-tile:before {
  content: "";
  position: absolute;
  display: block;
  width: 0.75rem;
  height: 0.75rem;
  border: 1px solid var(--grey-light-2);
  border-radius: 50%;
  top: 50%;
  right: 20px;
  opacity: 0;
  transform: translateY(-50%);
  transition: 0.25s ease;
}

.radio-tile:hover {
  border-color: var(--primary);
}

.radio-tile:hover:before {
  opacity: 1;
}

.radio-label {
  color: var(--black);
  transition: 0.375s ease;
  text-align: center;
  font-size: clamp(6px, 8vw, 14px);
  line-height: 1.2rem;
  font-weight: 500;
}

.radio-info {
  color: var(--grey-2);
  transition: 0.375s ease;
  text-align: center;
  font-size: clamp(6px, 8vw, 12px);
}

.radio-input {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
/*==========================================*/
/*----------INPUT FILE---------*/
/*==========================================*/
.file-upload-form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.file-upload-label input {
  display: none;
}
.file-upload-label svg {
  height: 30px;
  fill: var(--primary);
}

.file-upload-label {
  width: 100%;
  cursor: pointer;
  background-color: var(--white);
  border-radius: 10px;
  border: 1px dashed var(--primary);
}
.file-upload-design {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
}
.browse-button {
  background-color: transparent;
  padding: 5px 15px;
  border-radius: 10px;
  color: var(--black);
  transition: all 0.3s;
  font-size: clamp(7px, 8vw, 12px);
}
.browse-button:hover {
  background-color: var(--grey-light-22);
}
/*==========================================*/
/*------------ ANIMATIONS-----------------*/
/*==========================================*/

/*--FILTER--*/
/*==========================================*/

.filter-enter-active,
.filter-leave-active {
  transition: all 0.3s ease-in-out;
}

.filter-leave-active {
  transition-delay: 0.25s;
}

.filter-enter-from,
.filter-leave-to {
  opacity: 0;
}

.filter-enter-active .inner,
.filter-leave-active .inner {
  transition: all 0.3s ease-in-out;
}
.filter-enter-active .inner {
  transition-delay: 0.25s;
}

.filter-enter-from .inner,
.filter-leave-to .inner {
  transform: translateX(60px);
  opacity: 0.001;
}

/*==========================================*/
/*==========================================*/
/*--MODAL--*/

.nested-enter-active,
.nested-leave-active {
  transition: all 0.3s ease-in-out;
}

.nested-enter-from,
.nested-leave-to {
  opacity: 0;
}

.nested-enter-active .inner,
.nested-leave-active .inner {
  transition: all 0.3s ease-in-out;
}

.nested-enter-from .inner,
.nested-leave-to .inner {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 0.001;
}

.list-move,
.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease-in;
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(-30px);
}

.list-leave-active {
  position: absolute;
}

/*==========================================*/
/*-----------SKELETON-----------------*/
/*==========================================*/
.p-skeleton {
  background-color: #e5e7eb;
  border-radius: 6px;
}

.p-skeleton::after {
  content: "";
  animation: p-skeleton-animation 1.2s infinite;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(-100%);
  z-index: 1;
}

.p-skeleton:after {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0)
  );
}
/*==========================================*/
/*-----------CALENDAR-----------------*/
/*==========================================*/
.p-calendar {
  height: 40px;
  width: 100%;
  position: relative;
  .p-inputtext {
    color: var(--grey-2);
    background-color: var(--white);
    font-size: clamp(5px, 8vw, 13px);
    padding: 10px 10px 10px 40px;
    width: 120px;
  }
}
.p-input-icon-left > i,
.p-input-icon-left > svg,
.p-input-icon-right > i,
.p-input-icon-right > svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 0;
  left: 17px;
  fill: transparent;
  width: 1.1rem;
  height: 1.1rem;
}

.p-datepicker {
  background-color: var(--white);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--grey-light-2);
  border-radius: 8px;
  padding: 1rem;
  min-width: 180px;
  left: 0;
  .p-datepicker-decade {
    font-size: clamp(5px, 8vw, 13px);
    font-weight: 600;
  }
  .p-monthpicker {
    gap: 5rem;
  }
  .p-yearpicker {
    .p-yearpicker-year {
      font-size: clamp(5px, 8vw, 13px);
    }
  }
  .p-datepicker-group-container {
    .p-datepicker-prev,
    .p-datepicker-next {
      padding: 0;
      width: 28px;
      height: 28px;
      border-radius: 5px;
      .p-icon {
        width: 0.7rem;
        height: 0.7rem;
        color: var(--grey-1);
      }
      &:hover {
        background-color: var(--grey-light-1);
        transform: scale(1.1);
        .p-icon {
          color: var(--grey-2);
        }
      }
    }
    .p-datepicker-title {
      display: flex;
      gap: 0.3rem;
      .p-datepicker-year,
      .p-datepicker-month {
        width: auto;
        color: var(--black);
        font-weight: 600;
        font-size: clamp(5px, 8vw, 13px);
        padding: 0;
      }
    }
  }
  .p-monthpicker {
    font-size: clamp(5px, 8vw, 13px);
    .p-monthpicker-month {
      padding: 5px 0;
      border-radius: 8px;
      transition: all 0.25s ease-out;
      &:hover {
        background-color: var(--grey-light-22);
      }
    }
    .p-disabled {
      color: var(--grey-light-3);
    }
    .p-highlight {
      background-color: var(--primary);
      border-radius: 8px;
      font-weight: 600;
      color: var(--white);
    }
  }
}

.p-datepicker-group {
  .p-datepicker-header {
    height: 40px;
    display: flex;
  }
}

.p-datepicker-calendar-container {
  font-size: clamp(5px, 8vw, 13px);
  .p-datepicker-calendar {
    thead {
      th {
        color: var(--grey-1);
        font-weight: 500;
      }
    }
    tbody {
      td {
        span {
          padding: 3px 5px;
          transition: all 0.25s ease-out;
          border-radius: 6px;
          &:hover {
            background-color: var(--grey-light-22);
          }
        }
      }
    }
    .p-highlight {
      background-color: var(--primary);
      border-radius: 6px;
      font-weight: 600;
      color: var(--white);
    }
    .p-datepicker-other-month {
      color: var(--grey-1);
    }
  }
}
/*==========================================*/
/*------CHECKBOX --------------*/
/*==========================================*/
.p-checkbox {
  display: inline-flex;
  cursor: pointer;
  user-select: none;
  vertical-align: bottom;
  position: relative;
  .p-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .p-checkbox-box {
    border: 1.5px solid var(--grey-light-3);
    background: #ffffff;
    width: 20px;
    height: 20px;
    color: #495057;
    border-radius: var(--br-s);
    transition: background-color 0.2s, color 0.2s, border-color 0.2s,
      box-shadow 0.2s;
  }
  .p-highlight {
    border-color: var(--primary);
    background: var(--primary);
    .p-icon {
      color: var(--white);
      width: 0.8rem;
      height: 0.8rem;
    }
  }
}

/*==========================================*/
/*---------button--------------*/
/*==========================================*/
.p-tooltip {
  background-color: #1b1f22;
  color: var(--white);
  border-radius: 8px;
  color: var(--white);
  font-size: clamp(5px, 8vw, 13px);
  font-weight: 500;
  padding: 4px 12px;
  margin-left: 10px;
}
.p-tooltip-arrow {
  color: #1b1f22;
  transform: translateY(-2px);
}
/*==========================================*/
/*----------MULTISELECT -------*/
/*==========================================*/
.p-multiselect {
  background-color: var(--white);
  padding: 10px 20px;
  border: 1px solid var(--grey-light-2);
  border-radius: 8px;
  min-width: 150px;
  min-height: 45px;
  display: flex;
  align-items: center;
  transition: all 0.25s ease-out;
  .p-icon {
    width: 0.8rem;
    height: 0.8rem;
    color: var(--grey-1);
  }
  .p-dropdown-label {
    font-size: clamp(7px, 8vw, 14px);
    color: var(--grey-2);
  }
}

.p-multiselect-empty-message {
  padding: 5px;
  color: var(--grey-2);
}
.p-multiselect-panel {
  background-color: var(--white);
  font-size: clamp(7px, 8vw, 14px);
  padding: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  border: 1px solid var(--grey-light-2);
  margin-top: 3px;

  .p-multiselect-header {
    display: none;
  }
  .p-multiselect-items-wrapper {
    .p-multiselect-items {
      .p-multiselect-item {
        display: flex;
        gap: 0.5rem;
        border-radius: 8px;
        padding: 8px 15px;
        transition: all 0.35s ease-out;
        font-size: clamp(7px, 8vw, 14px);
        &:hover {
          background-color: var(--grey-light-1);
        }
      }

      .p-checkbox-box {
        display: flex;
        justify-content: center;
        align-items: center;
        .p-icon {
          color: var(--white);
          width: 0.8rem;
          height: 0.8rem;
        }
      }

      .p-checkbox .p-checkbox-box.p-highlight {
        border-color: var(--primary);
        background: var(--primary);
      }

      .p-checkbox .p-checkbox-box {
        border: 1.5px solid var(--grey-light-3);
        background: #ffffff;
        width: 20px;
        height: 20px;
        color: var(--grey-2);
        border-radius: 3px;
        transition: background-color 0.2s, color 0.2s, border-color 0.2s,
          box-shadow 0.2s;
        border-radius: 5px;
      }

      .p-component {
        font-family: var(--font-family);
        font-feature-settings: var(--font-feature-settings, normal);
        font-size: 1rem;
        font-weight: normal;
      }
      .p-highlight {
        background-color: var(--grey-light-11);
        color: var(--black);
        font-weight: 500;
        position: relative;
      }
    }
  }
}

.p-multiselect-label {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  font-size: clamp(7px, 8vw, 14px);
  color: var(--grey-2);
  .p-multiselect-token {
    background-color: var(--grey-light-1);
    border-radius: 15px;
    font-size: clamp(7px, 8vw, 14px);
    padding: 5px 12px;
    display: flex;
    align-items: center;
    gap: 0.3rem 0.5rem;
    font-weight: 400;
    .p-multiselect-token-label {
      color: var(--black);
    }
    .p-icon {
      width: 1rem;
      height: 1rem;
      color: var(--grey-2);
      &:hover {
        color: rgb(243, 89, 89);
      }
    }
  }
}

.multiselect-footer {
  padding: 6px 15px;
  font-size: clamp(7px, 8vw, 12px);
  background-color: var(--grey-light-22);
  color: var(--grey-2);
  border-radius: 0 0 10px 10px;
}
/*==========================================*/
/*----------DROPDOWN -------*/
/*==========================================*/
.p-dropdown-filter-container {
  position: relative;
  .p-dropdown-filter {
    border: 1px solid var(--primary);
    box-shadow: 0 1px 2px rgba(38, 212, 81, 0.4431372549);
    border-radius: 8px;
    padding: 8px 15px;
  }
  .p-icon {
    width: 0.8rem;
    height: 0.8rem;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%) !important;
    color: var(--grey-1);
    margin-top: 0;
  }
}

.p-dropdown-empty-message {
  font-size: clamp(7px, 8vw, 13px);
  padding: 5px 5px 0 5px;
  color: var(--grey-2);
}
.p-dropdown {
  background-color: var(--white);
  padding: 10px 18px;
  border: 1px solid var(--grey-light-2);
  border-radius: 8px;
  min-width: 160px;
  height: 40px;
  display: flex;
  align-items: center;
  transition: all 0.25s ease-out;

  .p-icon {
    width: 0.6rem;
    height: 0.6rem;
    color: var(--grey-1);
  }
  .p-placeholder {
    color: var(--grey-2);
  }
  .p-dropdown-label {
    font-size: clamp(7px, 8vw, 13px);
    font-weight: 400;
    user-select: none;
  }
}
.p-dropdown-panel {
  background-color: var(--white);
  font-size: clamp(7px, 8vw, 14px);
  padding: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  border: 1px solid var(--grey-light-2);
  margin-top: 3px;
}

.p-dropdown-items {
  .p-dropdown-item {
    border-radius: 8px;
    padding: 10px 15px;
    transition: all 0.35s ease-out;
    font-size: clamp(7px, 8vw, 13px);
    line-height: 0.8rem;
    cursor: pointer;
    user-select: none;
    &:hover {
      background-color: var(--grey-light-1);
    }
  }
  .p-highlight {
    background-color: var(--grey-light-11);
    color: var(--primary);
    font-weight: 500;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      right: 15px;
      top: 50%;
      width: 0.2em;
      height: 0.5em;
      border: solid var(--primary);
      border-width: 0 0.15em 0.15em 0;
      transform: rotate(45deg) translateY(-50%);
    }
  }
}

.p-overlay-open {
  border: 1px solid var(--primary);
  box-shadow: 0 1px 2px #26d45171;
  .p-icon {
    transform: rotate(180deg);
    color: var(--primary);
  }
}

/*---------- TABLE -------*/

.p-datatable {
  width: 100%;
  color: var(--black);

  line-height: 0.7rem;
  font-weight: 500;
  border-collapse: collapse;
  white-space: nowrap;
  overflow: hidden;
  flex: 1 1;
  table {
    width: 100%;
    color: var(--black);
    font-size: clamp(6px, 8vw, 13.5px);
    line-height: 0.7rem;
    font-weight: 500;
    border-collapse: collapse;
    white-space: nowrap;
    // @include md {
    //   font-size: clamp(6px, 8vw, 14px);
    //   line-height: 1.1rem;
    // }
  }

  thead {
    color: var(--grey-2);
    text-align: left;
    background-color: var(--grey-light-1);
    font-size: clamp(6px, 8vw, 11px);
    position: sticky;
    top: 0;
    z-index: 1;
    // @include md {
    //   font-size: clamp(6px, 8vw, 12px);
    // }
  }

  th {
    padding: 15px 12px;
    font-weight: normal !important;
    div {
      display: flex;
      align-items: center;
      gap: 0.4rem;
      img {
        width: 0.5rem;
        // @include md {
        //   width: 0.6rem;
        // }
      }
      //   @include md {
      //     gap: 0.5rem;
      //   }
    }
    &:first-child {
      border-radius: 8px 0px 0px 8px !important;
    }
    &:last-child {
      border-radius: 0 8px 8px 0px !important;
    }
  }

  td {
    padding: 9.5px 12px;
    border-top: 1px solid var(--grey-light-11);
  }

  tbody tr {
    z-index: 99;
    background-color: var(--white);
  }

  .p-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .p-selection-column {
    .p-checkbox-box {
      background-color: var(--primary);
      .p-highlight {
        box-shadow: 0 5px 8px #26d45171;
      }
    }
  }

  .p-checkbox .p-checkbox-box.p-highlight {
    border-color: var(--primary);
    background: var(--primary);
  }

  .p-checkbox .p-checkbox-box {
    border: 1.5px solid #ced4da;
    background: #ffffff;
    width: 20px;
    height: 20px;
    color: var(--grey-2);
    border-radius: 3px;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s,
      box-shadow 0.2s;
    border-radius: 5px;
  }

  .p-component {
    font-family: var(--font-family);
    font-feature-settings: var(--font-feature-settings, normal);
    font-size: 1rem;
    font-weight: normal;
  }

  .p-checkbox-box {
    display: flex;
    justify-content: center;
    align-items: center;
    .p-icon {
      color: var(--white);
    }
  }

  .p-datatable-wrapper {
    height: calc(100% - 60px);
  }

  .p-datatable-tbody {
    transition: all 0.35s ease-out;
    // .p-row-even, .p-row-odd{

    // }
    .p-highlight {
      background-color: var(--grey-light-11);
      box-shadow: 0 5px 8px #26d45171;
    }
  }
  .paginatorwrapper {
    height: 40px;
  }
  .p-paginator {
    display: flex;
    justify-content: flex-end;
    padding-top: 1rem;
  }

  .p-paginator-element {
    height: 30px;
    width: 30px;
    padding: 0;
    border: 0.5px solid var(--grey-light-2);
    display: grid;
    place-items: center;
    border-radius: 5px;

    .p-icon {
      color: var(--grey-2);
    }
  }
  .p-paginator-current {
    font-size: clamp(6px, 8vw, 12px);
    font-weight: 600;
    padding: 0 0.5rem;
  }

  .p-paginator-pages {
    display: flex;
  }

  .p-component,
  .p-component * {
    box-sizing: border-box;
  }
  .p-paginator-pages {
    .p-paginator-page {
      background-color: var(--grey-light-11);
      color: var(--grey-2);
      border: none;
      font-size: clamp(6px, 8vw, 11px);
    }
    .p-highlight {
      background-color: var(--primary);
      color: var(--white);
      font-size: clamp(6px, 8vw, 13px);
      font-weight: 500;
    }
  }
}
