@import url("https://fonts.googleapis.com/css2?family=Saira:wght@100;200;300;400;500;600;700&display=swap");

/*//////////////////////////////////////////////////////////////////
[ MIXINS ]*/

$break-tablet: 610px;
$break-desktop: 1540px;

// * de $mq hacia arriba, $mq incluido
@mixin media-to-up($mq) {
  @media (min-width: $mq) {
    @content;
  }
}

// * de $mq hacia abajo, $mq incluido
@mixin media-to-down($mq) {
  @media (max-width: $mq) {
    @content;
  }
}

// * de $mq-min a $mq-max, ambos incluidos
@mixin media-between($mq-min, $mq-max) {
  @media (min-width: $mq-min) and (max-width: $mq-max) {
    @content;
  }
}

// ! SM ----------------------------------
// * de 0px a 610px. 610px incluido
@mixin only-sm() {
  @include media-to-down($break-tablet) {
    @content;
  }
}

// ! MD ----------------------------------
// * de 611px a infinito. 611px incluido
@mixin md() {
  @include media-to-up($break-tablet + 1) {
    @content;
  }
}

// * de 611px a 1190px. 611px y 1190px incluidos
@mixin only-md() {
  @include media-between(($break-tablet + 1), $break-desktop) {
    @content;
  }
}

// ! LG ----------------------------------
// * de 1190px a infinito, 1190px incluido
@mixin lg() {
  @include media-to-up($break-desktop + 1) {
    @content;
  }
}

@mixin x-lg() {
  @include media-to-up($break-desktop + 1) {
    @content;
  }
}

/*//////////////////////////////////////////////////////////////////
[ IMPORTS]*/

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
  text-decoration: none;
  box-sizing: border-box;
}

/*! locomotive-scroll v3.6.1 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.has-scroll-smooth body {
  overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh;
}

/*//////////////////////////////////////////////////////////////////
[ ]*/
html,
body {
  margin: 0;
  background: var(--grey-light-1);
  height: 100vh;
  // cursor: none;
  font-family: "Saira", sans-serif;
  background-image: url('../public/img/Fondo2.svg');
  background-color: #fafafa;
}

blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
  margin: 0;
}

// COLORS
:root {
  --primary: #26d452;
  --secondary: #26d452;
  --tertiary: #fafafa1c;
  --white: #fff;
  --black: #1a1a1a;
  --grey-1: #898989;
  --grey-2: #777777;
  --grey-light-1: #f2f2f2;
  --grey-light-11: #f5f5f5;
  --grey-light-2: #d0d0d0;
  --grey-light-22: #e6e6e6;
  --grey-light-3: #b3b3b3;
}

/*//////////////////////////////////////////////////////////////////
[ SCROLLBAR ]*/

::-webkit-scrollbar {
  width: 4px !important;
  height: 4px !important;
}

html[dir] .dark ::-webkit-scrollbar-thumb {
  background-color: var(--grey-light-2);
}

::-webkit-scrollbar-thumb {
  background-color: var(--grey-light-2);
  border-radius: 50px;
}

html[dir] .dark ::-webkit-scrollbar-track {
  background-color: initial;
}

::-webkit-scrollbar-track {
  background: transparent;
}

/*//////////////////////////////////////////////////////////////////
[ TITLES ]*/

h1 {
  color: var(--black);
  font-size: clamp(10px, 8vw, 20px);
  line-height: 1.6rem;
  font-weight: 600;
  @include md {
    font-size: clamp(13px, 8vw, 26px);
    line-height: 1.7rem;
  }
}

h2 {
  font-size: clamp(8px, 8vw, 16px);
  font-weight: 500;

  @include md {
    font-size: clamp(9px, 8vw, 19px);
    line-height: 1.3rem;
  }
}

h3 {
  color: var(--black);
  font-size: clamp(6.5px, 8vw, 13px);
  letter-spacing: -0.03em;
  line-height: 1rem;
  font-weight: 600;

  @include md {
    font-size: clamp(7.5px, 8vw, 15px);
    line-height: 1rem;
  }

  @include lg {
    font-size: clamp(10px, 8vw, 20px);
    line-height: 1rem;
  }
}

h4 {
  color: var(--black);
  font-size: clamp(5px, 8vw, 10px);
  font-weight: normal;
  @include md {
    font-size: clamp(7px, 8vw, 14.5px);
    line-height: 1rem;
    font-weight: 500;
  }
}

h5 {
  color: var(--black);
  font-size: clamp(5.5px, 8vw, 11px);
  line-height: 1rem;
  font-weight: normal;
  @include md {
    font-size: clamp(5px, 8vw, 12px);
    line-height: 1.1rem;
  }
}

h6 {
  color: var(--black);
  font-size: clamp(4px, 8vw, 7px);
  line-height: 1rem;

  @include md {
    font-size: clamp(5px, 8vw, 8px);
    line-height: 0.8rem;
  }
}

p {
  color: var(--black);
  font-size: clamp(6.5px, 8vw, 13px);
  line-height: 0.9rem;

  @include md {
    font-size: clamp(7px, 8vw, 14px);
    line-height: 1rem;
  }
}

input {
  font-family: "Saira", sans-serif;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  background-color: var(--white);
  border: none;
  height: 40px;
  width: 100%;
  text-align: left;
  border-radius: 10px;
  padding: 14px 20px 14px 40px;
  font-size: clamp(5.5px, 8vw, 12px);
  font-style: 100;
  border: 1.5px solid var(--grey-light-2);
  transition: all 0.25s ease-out;
  @include md {
    height: 45px;
    font-size: clamp(7px, 8vw, 14px);
  }

  &:focus {
    border: 1.5px solid #26d452;
    color: var(--black);
  }
}

input[type="search"]::placeholder {
  color: var(--grey-1);
}

select {
  font-family: "Saira", sans-serif;

  font-weight: 100;
  border: none;
  padding: 0 0.5rem;
  border-radius: 5px;
  border: 0.5px solid var(--grey-light-2);
  height: 30px;
  &:focus {
    border: 0.5px solid var(--grey-light-2);
    color: var(--black);
  }
}

textarea {
  resize: none;
  color: var(--black);
  font-family: "Saira", sans-serif;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  background-color: var(--white);
  border: none;
  width: 100%;
  height: 100%;
  text-align: left;
  border-radius: 8px;
  padding: 14px 20px 14px 20px;
  font-size: clamp(5.5px, 8vw, 12px);
  font-style: 100;
  border: 1px solid var(--grey-light-2);
  @include md {
    font-size: clamp(7px, 8vw, 14px);
  }

  &:focus {
    border: 1.5px solid var(--secondary);
    color: var(--black);
  }
}

button {
  font-family: "Saira", sans-serif;

  transition: all 0.5s ease-out;
  cursor: pointer;
  border: none;
  color: var(--white);
  border: none;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  font-size: clamp(5.5px, 8vw, 12px);
  background-color: var(--grey);
  padding: 0.7rem 1rem;
  @include md {
    padding: 0.8rem 1rem;
    font-size: clamp(6.5px, 8vw, 14px);
  }
}

input[type="radio"] {
  display: none;
}

svg {
  transition: all 0.5s ease-out;
}

::-moz-selection {
  background-color: var(--orange);
  color: var(--white);
}

::selection {
  background-color: var(--black);
  color: var(--white);
}

section {
  min-height: 100vh;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*//////////////////////////////////////////////////////////////////
[ ERROR 404]*/

.content {
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 2px;
}

.c-header {
  width: 100%;
}

main {
  flex: 1 1 0%;
  height: 100%;
  width: calc(100% - 280px);
}

.c-main {
  width: 100%;
  height: calc(100% - 70px);
  display: flex;
  flex-direction: column;
}

input[type="checkbox"] {
  display: none;
}

.custom-skeleton {
  background-color: red;
}

.active {
  background-color: var(--primary);
}

.p-dropdown {
  background-color: var(--white);
  padding: 0 20px;
  border: 1px solid var(--grey-light-2);
  border-radius: 10px;
  min-width: 150px;
  height: 45px;
  display: flex;
  align-items: center;
  transition: all 0.25s ease-out;
}
.p-dropdown-items-wrapper {
  background-color: var(--white);
  padding: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  font-size: clamp(7px, 8vw, 14px);
}

.p-icon {
  width: 0.6rem;
  height: 0.6rem;
  color: var(--grey-1) ;
}

.p-highlight{
  background-color: var(--grey-light-11);
  color: var(--primary);
  font-weight: 500;
  position: relative;
  
  &::before {
    content: "";
    position: absolute;
    right: 15px;
    top: 50%;
    width: .2em;
    height: .5em;
    border: solid var(--primary);
    border-width: 0 .15em .15em 0;
    transform: rotate(45deg) translateY(-50%);
  }
}


.p-dropdown-item {
  border-radius: 8px;
  padding: 6px 12px; 
  &:hover{
    background-color: var(--grey-light-1);
  }
}

.p-inputwrapper-focus{
  border: 1px solid var(--primary);
  .p-icon{
    transform: rotate(180deg);
    color: var(--primary);
  }
}